<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding_IWeatherService" />
            </basicHttpBinding>
        </bindings>
      
        <client>
            <endpoint address="http://localhost:5580/ExampleAlpha" 
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IWeatherService" 
                contract="ServiceAlpha.IWeatherService"/>
        </client>
      
    </system.serviceModel>
</configuration>