<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="http://localhost:5581/weatherServiceAlpha"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IWeatherService"
                contract="CommonClient.IWeatherService" />
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_IWeatherService" />
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>