<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:62060/service" binding="customBinding"
                bindingConfiguration="logBinding" contract="DatabaseService.IDatabase"
                name="BasicHttpBinding_IDatabase" />
        </client>

      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IDatabase" />
        </basicHttpBinding>
        <customBinding>
          <binding name="logBinding">
            <soapLogger logPath="C:\SoapLogDefaultClient"  useCustomHandler="false"  />
            <httpTransport />
          </binding>
        </customBinding>
      </bindings>

      <extensions>
        <bindingElementExtensions>
          <add name="soapLogger" type="WcfSoapLogger.EncodingExtension.LoggingExtensionElement, WcfSoapLogger" />
        </bindingElementExtensions>
      </extensions>
      
    </system.serviceModel>


<!--    <system.net>-->
<!--      <defaultProxy>-->
<!--        <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />-->
<!--      </defaultProxy>-->
<!--    </system.net>-->
  
</configuration>