<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  
    <system.serviceModel>

      <client>
        <endpoint address="http://localhost:62060/Service" binding="customBinding" bindingConfiguration="soapLoggerBinding" 
            contract="MyHttps.IDatabase" name="CustomBinding_IDatabase" />

<!--        <endpoint address="https://baur.im:62062/Service" binding="customBinding" bindingConfiguration="soapLoggerBindingHttps"-->
<!--            contract="MyHttps.IDatabase" name="CustomBinding_IDatabase" />-->
      </client>
      
      <bindings>
        
        <basicHttpBinding>
          <binding name="CustomBinding_IDatabase">
            <security mode="Transport" />
          </binding>
        </basicHttpBinding>
        
        <customBinding>
          <binding name="soapLoggerBinding">
            <soapLoggerExtension logPath="C:\SoapLogDefault_Client" useCustomHandler="false" />
            <httpTransport />
          </binding>
          <binding name="soapLoggerBindingHttps">
            <soapLoggerExtension logPath="C:\SoapLogDefault_Client" useCustomHandler="false" />
            <httpsTransport />
          </binding>
        </customBinding>
      </bindings>
      
      <extensions>
        <bindingElementExtensions>
          <add name="soapLoggerExtension" type="WcfSoapLogger.EncodingExtension.LoggingExtensionElement, WcfSoapLogger"/>
        </bindingElementExtensions>
      </extensions>
      
    </system.serviceModel>


    <system.net>
      <defaultProxy>
        <!--Fiddler-->
        <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
      </defaultProxy>
    </system.net>
  
</configuration>