<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeatherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5580/weatherService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWeatherService" contract="CommonClient.IWeatherService"
                name="BasicHttpBinding_IWeatherService" />
        </client>
    </system.serviceModel>
</configuration>