<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="http://mylocalhost:5580/weatherService"
                binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IWeatherService"
                contract="CommonClient.IWeatherService" 
                behaviorConfiguration="sigmaLoggerBehavior" />
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_IWeatherService" />
      </basicHttpBinding>
    </bindings>


    <behaviors>
      <endpointBehaviors>
        <behavior name="sigmaLoggerBehavior">
          <sigmaLoggerExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="sigmaLoggerExtension" type="Client.SigmaLoggerBehaviorExtension, Client" />
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>
</configuration>