<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <services>
      <service name="Service.WeatherServiceEuropeCustomHandler" behaviorConfiguration="weatherServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5583/weatherServiceGamma" />
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="customBinding" bindingConfiguration="soapLoggerBinding" 
                  contract="CommonService.IWeatherService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <customBinding>
        <binding name="soapLoggerBinding">
          <soapLoggerMessageEncoding logPath="C:\SoapLog\Gamma\Service" useCustomHandler="true" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="weatherServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <bindingElementExtensions>
        <add name="soapLoggerMessageEncoding" type="WcfSoapLogger.EncodingExtension.LoggingExtensionElement, WcfSoapLogger" />
      </bindingElementExtensions>
    </extensions>

  </system.serviceModel>
</configuration>