<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <services>
      <service name="CommonService.WeatherServiceEurope" behaviorConfiguration="weatherServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://wcf.mozilla.org:5581/weatherService" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="customBinding" bindingConfiguration="soapLoggerBindingHttps"
                  contract="CommonService.IWeatherService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <customBinding>
        <binding name="soapLoggerBindingHttps">
          <soapLoggerMessageEncoding logPath="C:\SoapLog\Delta\Service" useCustomHandler="false" />
          <httpsTransport authenticationScheme="Basic"/>
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="weatherServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Service.WeatherServiceCredentialsValidator, Service" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <bindingElementExtensions>
        <add name="soapLoggerMessageEncoding" type="WcfSoapLogger.EncodingExtension.LoggingExtensionElement, WcfSoapLogger" />
      </bindingElementExtensions>
    </extensions>

  </system.serviceModel>
</configuration>