<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="https://wcf.mozilla.org:5581/weatherService"
                binding="customBinding" bindingConfiguration="soapLoggerBindingHttps"
                contract="CommonClient.IWeatherService" />
    </client>

    <bindings>
      <customBinding>
        <binding name="soapLoggerBindingHttps">
          <soapLoggerMessageEncoding logPath="C:\SoapLog\Delta\Client" useCustomHandler="false" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
      </customBinding>
    </bindings>

    <extensions>
      <bindingElementExtensions>
        <add name="soapLoggerMessageEncoding" type="WcfSoapLogger.EncodingExtension.LoggingExtensionElement, WcfSoapLogger" />
      </bindingElementExtensions>
    </extensions>

  </system.serviceModel>


<!--  <system.net>-->
<!--    <defaultProxy>-->
<!--      ~1~Fiddler@1@-->
<!--      <proxy autoDetect="false" bypassonlocal="false" usesystemdefault="false" proxyaddress="http://127.0.0.1:8888" />-->
<!--    </defaultProxy>-->
<!--  </system.net>-->
  
</configuration>