<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <system.serviceModel>
    <services>
      <service name="Service.Database" behaviorConfiguration="databaseBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:62060/Service"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="customBinding" bindingConfiguration="soapLoggerBinding" bindingNamespace="http://wcf-soap-logger.org/database" contract="Service.IDatabase"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    
<!--      <service name="Service.Database" behaviorConfiguration="databaseBehavior">-->
<!--        <host>-->
<!--          <baseAddresses>-->
<!--            <add baseAddress="https://baur.im:62062/Service"/>-->
<!--          </baseAddresses>-->
<!--        </host>-->
<!--        <endpoint address="" binding="customBinding" bindingConfiguration="soapLoggerBindingHttps" bindingNamespace="http://wcf-soap-logger.org/database" contract="Service.IDatabase"/>-->
<!--        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>-->
<!--      </service>-->
    </services>


    <bindings>
      <customBinding>
        <binding name="soapLoggerBinding">
          <soapLoggerExtension logPath="C:\SoapLogDefault_Service" useCustomHandler="false"/>
          <httpTransport/>
        </binding>
        <binding name="soapLoggerBindingHttps">
          <soapLoggerExtension logPath="C:\SoapLogDefault_Service" useCustomHandler="false"/>
          <httpsTransport authenticationScheme="Anonymous"/>
        </binding>
      </customBinding>
    </bindings>


    <behaviors>
      <serviceBehaviors>
        <behavior name="databaseBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    
    </behaviors>


    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    
    <extensions>
      <bindingElementExtensions>
        <add name="soapLoggerExtension" type="WcfSoapLogger.EncodingExtension.LoggingExtensionElement, WcfSoapLogger"/>
      </bindingElementExtensions>
    </extensions>
    
  </system.serviceModel>
  
</configuration>