<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.serviceModel>

    <services>
      <service name="Service.Database" behaviorConfiguration="databaseBehavior">
<!--        <host>-->
<!--          <baseAddresses>-->
<!--            <add baseAddress="{{ url of external service }}" />-->
<!--          </baseAddresses>-->
<!--        </host>-->
        <endpoint address="" binding="customBinding" bindingConfiguration="databaseBinding" bindingNamespace="http://wcf-soap-logger.org/database" contract="Service.IDatabase" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>


    <bindings>
      <customBinding>
        <binding name="databaseBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
<!--          <soapLogger logPath="C:\SoapLogDefault" customCode="true" />-->
          <soapLogger logPath="C:\SoapLogDefault"  />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="databaseBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <extensions>
      <bindingElementExtensions>
        <add name="soapLogger" type="WcfSoapLogger.EncodingExtension.ExtensionElement, WcfSoapLogger" />
      </bindingElementExtensions>
    </extensions>
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping> 
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
