<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="http://localhost:5580/weatherService"
                binding="customBinding" bindingConfiguration="soapLoggerBinding"
                contract="CommonClient.IWeatherService" />
    </client>

    <bindings>
      <customBinding>
        <binding name="soapLoggerBinding">
          <soapLoggerMessageEncoding logPath="C:\SoapLog\Beta\Client" useCustomHandler="false" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <extensions>
      <bindingElementExtensions>
        <add name="soapLoggerMessageEncoding" type="WcfSoapLogger.EncodingExtension.LoggingExtensionElement, WcfSoapLogger" />
      </bindingElementExtensions>
    </extensions>

  </system.serviceModel>
</configuration>