<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <services>
      <service name="CommonService.WeatherServiceEurope" behaviorConfiguration="weatherServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5580/weatherService" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IWeatherService"
                  contract="CommonService.IWeatherService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_IWeatherService">
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="weatherServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>